<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="SauceDemoTests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.ProductSearchTest"/>
            <class name="tests.SortingTest"/>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
</suite>
